$base-background-color: #0e1014;
$base-text-color: #e4e5ea;
$blue-color: #4077f3;
$grey-color: #656566;

$base-font-size: 16px;
$base-font-family: "Inter", sans-serif;
$secondary-font-family: "Montserrat", sans-serif;

$text-linear-gradient: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
