@import "../../scss/vars";

.header {
  display: flex;
  padding-top: 56px;

  @media (max-width: 875px) {
    justify-content: space-between;
  }

  @media (max-width: 700px) {
    padding: 16px 0;
    justify-content: center;
    align-items: center;

    background-color: $base-background-color;
  }
}

.logoLink {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 165px;

  @media (max-width: 700px) {
    display: none;
  }

  img {
    width: 140px;
  }

  span {
    font-family: $secondary-font-family;
    font-size: 10px;
    line-height: 14px;
  }
}
