.contacts {
  display: flex;
  gap: 47px;
  padding-top: 5px;

  a {
    transition: opacity 0.2s ease-in;

    &:hover {
      opacity: 0.8;
    }
  }

  .tel {
    @media (max-width: 1060px) {
      display: none;
    }
  }

  @media (max-width: 875px) {
    display: none;
  }
}

.contactsList {
  display: flex;
  gap: 31px;
}

.footerContacts {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 20px;

  .contactsList {
    @media (max-width: 700px) {
      margin-top: -10px;
      margin-bottom: 0px;
      gap: 15px;
    }
  }

  div {
    @media (max-width: 700px) {
      margin-top: -11px;
    }
  }

  @media (max-width: 1020px) {
    align-items: start;
  }

  @media (max-width: 700px) {
    font-size: 16px;

    svg {
      width: 20px;
      height: 20px;
    }

    div {
      font-size: 14px;
    }
  }

  ul {
    gap: 10px;
  }

  .tel {
    @media (max-width: 1060px) {
      display: flex;
    }
  }
}
